@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #090f20;
  --foreground: #e8ecff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", "Trebuchet MS", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}
